.python-version
.venv
.kilo
uv.lock
__pycache__
*.gch
*.pch
*.out
.vscode
*.spec
build
dist
!lib
.VSCodeCounter
tag.sh
CMakeFiles
CMakeCache.txt
__pycache__
*.pyc
RELEASE.md
*.log
.pytest_cache
*.egg-info
.cache
venv

# Windows specific
*.exe
# LLVM IR
*.ll
!tests/vixc0/*.ll
# Target specific
*.a
# Object files
*.o
*.obj
# Debug symbols
*.d
*.pdb

# Rubbish Vix File
./*.vix